{
	"uni_user": "smc",
	"uni_password": "smc",
	"graphite_host": "hostname",
	"graphite_port": "2003",
	"unisphere": [
		{
			"ip": "x.x.x.x",
			"port": 8443,
			"symmetrix": [
				{ "sid": "00019xxxxxx" }
			]
		}
	],
	"monitor": [
		{
			"scope": "array",
			"type": "performance",
			"keys": false,
			"metrics": [
				"BE_IOS_PER_SEC",
				"BE_READS",
				"BE_WRITES",
				"DESTAGED_TRACKS_PER_SEC",
				"DEV_WRITE_PENDING_EVENT_PER_SEC",
				"FE_READ_REQS_PER_SEC",
				"FE_WRITE_REQS_PER_SEC",
				"HA_MB_PER_SEC",
				"HIT_PER_SEC",
				"IO_RATE",
				"MB_READ_PER_SEC",
				"MB_WRITE_PER_SEC",
				"PERCENT_HIT",
				"PERCENT_READ",
				"PERCENT_WRITE",
				"PREFETCHED_TRACK_PER_SEC",
				"PREFETCHED_TRACK_PER_SEC",
				"READS",
				"READ_HIT_PER_SEC",
				"READ_MISS_PER_SEC",
				"REQUEST_PER_SEC",
				"RESPONSE_TIME_READ",
				"RESPONSE_TIME_WRITE",
				"SYS_WRITE_PENDING_EVENT_PER_SEC",
				"TOTAL_BE_REQ_PER_SEC",
				"TOTAL_CACHE_UTILIZATION",
				"WP",
				"WP_LIMIT",
				"WRITE_HIT_PER_SEC",
				"WRITE_MISS_PER_SEC",
				"WRITES",
				"ORM_AVG_READ_SIZE",
				"AVG_LRU0_FALL_THRU_TIME"
			]
		},
		{
			"scope": "BEDirector",
			"type": "performance",
			"keys": true,
			"metrics": [
				"PercentBusy",
				"IOs",
				"MBs"
			]
		}
	]
}
