{
	"graphite": {
		"enabled": false,
		"prefix": false,
		"host": "hostname",
		"port": "2003"
	},
	"influxdb": {
		"enabled": false,
		"prefix": false,
		"url": "hostname:port"
	},
	"csv": {
		"enabled": false
	},
	"unisphere": [
		{
			"ip": "x.x.x.x",
			"user": "smc",
			"password": "smc",
			"port": 8443,
			"version": 8,
			"symmetrix": [
				{ "sid": "00019xxxxx1" },
				{ "sid": "00019xxxxx2" }
			]
		},
		{
			"ip": "x.x.x.x",
			"user": "smc",
			"password": "smc",
			"port": 8443,
			"version": 7,
			"symmetrix": [
				{ "sid": "00019xxxxx3" },
				{ "sid": "00019xxxxx4" }
			]
		}
	],
	"monitor": [
		{
			"scope": "Array",
			"enabled": false
		},
		{
			"scope": "FEDirector",
			"enabled": false,
			"children": [
				{
					"scope": "FEDirectorByPort",
					"enabled": false
				}
			]
		},
		{
			"scope": "BEDirector",
			"enabled": false,
			"children": [
				{
					"scope": "BEDirectorByPort",
					"enabled": false
				}
			]
		},
		{
			"scope": "RDFDirector",
			"enabled": false
		},
		{
			"scope": "Disk",
			"enabled": false
		},
		{
			"scope": "DeviceGroup",
			"enabled": false
		},
		{
			"scope": "StorageGroup",
			"enabled": false,
			"children": [
				{
					"scope": "TierByStorageGroup",
					"enabled": false
				}
			]
		},
		{
			"scope": "RDFS",
			"enabled": false
		},
		{
			"scope": "RDFA",
			"enabled": false
		},
		{
			"scope": "CachePartition",
			"enabled": false
		},
		{
			"scope": "DiskGroup",
			"enabled": false
		},
		{
			"scope": "DSEPool",
			"enabled": false
		},
		{
			"scope": "SnapPool",
			"enabled": false
		},
		{
			"scope": "ThinPool",
			"enabled": false
		},
		{
			"scope": "ThinTier",
			"enabled": false
		},
		{
			"scope": "StorageTier",
			"enabled": false
		},
		{
			"scope": "FASTPolicy",
			"enabled": false
		}
	]
}
