{
	"graphite": {
		"enabled": true,
		"host": "hostname",
		"port": "2003"
	},
	"csv": {
		"enabled": true
	},
	"unisphere": [
		{
			"ip": "x.x.x.x",
			"user": "smc",
			"password": "smc",
			"port": 8443,
			"version": 8,
			"symmetrix": [
				{ "sid": "00019xxxxx1" },
				{ "sid": "00019xxxxx2" }
			]
		},
		{
			"ip": "x.x.x.x",
			"user": "smc",
			"password": "smc",
			"port": 8443,
			"version": 7,
			"symmetrix": [
				{ "sid": "00019xxxxx3" },
				{ "sid": "00019xxxxx4" }
			]
		}
	],
	"monitor": [
		{
			"scope": "Array",
			"type": "performance"
		},
		{
			"scope": "BEDirector",
			"type": "performance"
		},
		{
			"scope": "FEDirector",
			"type": "performance"
		}
	]
}
